@{
    ViewData["Title"] = "Results Page";
}

<div class="text-center">
    <h1 class="display-4">Toma aí os resultados</h1>
    <br/>
    <div>
       <ul>
    @foreach (var element in ViewBag.output)
    {
        <li>@element</li>
    }
</ul>
    </div>
   

</div>
