@{
    ViewData["Title"] = "Results Page";
}

<div class="text-center">
    <h1 class="display-4">Toma aí os resultados bacano</h1>
    <br/>
    <div>
        @Html.Raw(ViewBag.Weather)
    </div>

</div>
